<form action='/tasks' method='post'>
  <p> Enter a new task: </p>
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>
